/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote{
	position: relative;
	display: table;
	padding: 27px 0 27px 33px;
	border-left: 3px solid $second-main-color;

	.edgtf-blockquote-text {
		display: table-cell;
		vertical-align: middle;
		font-weight: 400;
		font-style: italic;
		font-family: 'Open Sans', serif;
	}
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */